<div class ="row">
<div class = "col-md-2">

<ul>
    <li ><a [routerLink] = "['designpatterns']">Design Patterns</a></li>
    <li> <a [routerLink] = "['multithreading']">MultiThreading</a></li>
    <li> <a [routerLink] = "['javaio']">Java IO</a></li>
    <li> <a [routerLink] = "['oops']">OOPS</a></li>    
    <li><a [routerLink] = "['collections']">Collections</a> </li>
    <li><a [routerLink] = "['exceptionhandling']">Exception Handling</a> </li>
    <li><a [routerLink] = "['servlets']">Servlets</a> </li>
    <li><a [routerLink] = "['reflection']">Reflection</a> </li>
    <li><a [routerLink] = "['regex']">RegularExpressions</a> </li>
    <li><a [routerLink] = "['generics']">Generics</a> </li>
    <li><a [routerLink] = "['serialization']">Serialization</a> </li>
    <li><a [routerLink] = "['java8']">Java 8</a> </li>
</ul>
</div>
<div class = "col-md-6" style = "border: solid 2px;">
<router-outlet></router-outlet>
</div>
<div class = "col-md-4">
   <p> Interview Questions </p>
   <pre>
       Implementing Iterator class to accept arrays,
        collections and maps
   </pre>
    </div>
</div>