<div class ="row">
<div class = "col-md-2">

<ul>
    <li >
        <a [routerLink] = "['designpatterns']">Design Patterns</a>
    </li>
    <li>
        <a [routerLink] = "['multithreading']">MultiThreading</a>
    </li>
    <li>
        <a [routerLink] = "['javaio']">Java IO</a>
    </li>
</ul>
</div>
<div class = "col-md-6" style = "border: solid 2px;">
<router-outlet></router-outlet>
</div>
<div class = "col-md-4">
   <p> Interview Questions </p>
   <pre>
       Implementing Iterator class to accept arrays,
        collections and maps
   </pre>
    </div>
</div>