<div>
    <ul>
        <li>Lambda Expressions</li>
        <li>Method References</li>
        <li>Functional Interfaces</li>
        <li>Streams</li>
        <li>Default Methods</li>
        <li>Static Methods</li>
        <li>Collections API</li>
    </ul>
<h5>Lambda Expressions</h5>
<div>Lambda expression is an other was We pass code as parameter instead of building anonymous classes</div>
<div>Expression that carries code and enable us to pass code as parameter in a more simple way than instance of an anonymous class</div>
<div><h6>Method References</h6></div>
<div> Alternative syntax to write Lambda expressions</div>
<div>Create New API = Lambdas + default methods + static methods</div>
<div>New comparator interface has default thenComparing and comparing static methods which accept lambdas thus creating new API from old interface</div>
<h6>Functional Interfaces</h6>
<div>Type of a Lambda expression, defined in java.util.function package</div>
<div>A Lambda expression is an instance of functional interface</div>
<div>Interface with only one abstract method</div>
<div>Default methods and static methods do not cunt and they are not abstract</div>
<div> Interfaces from Java 8 can have default and static methods</div>
<div> Methods from Object class do not count</div>
<div> Annotation @FunctionalInterface which is optional, for legacy reasons to support previous functional interfaces</div>
<div>java.util.function package new in java 8, with 43 most useful functional interfaces</div>
<ul>Four Categories</ul>
<li>Consumers</li>
<div>Consumes an object and does not return anything</div>
<div>BiConsumer takes two objects</div>
<li>Suppliers</li>
<div> Doesnot take any parameter and returns an object</div>
<li>Functions</li>
<div>Takes an object and returns another object</div>
<div>Takes two parameters and returns an object</div>
<li>Predicates</li>
<div>Takes an object and returns boolean</div>
<div>Chaining predicates and , or default methods</div>
<div>static method isEqualsTo</div>
</div>
