<div>
  <div style="background-color: blueviolet;">
  <nav class = 'navbar navbar-expand navbar-light bg-light' >   
  <ul class = 'nav nav-pills' >
    <li><a class = 'nav-link' [routerLink] = "['/java']">Java</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">OOPS</a></li>
    <li><a class = 'nav-link' routerLink = "/collections">Collections</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Algorithms</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Exception Handling</a></li>
    
    <li><a class = 'nav-link' routerLink = "/bootstrap">JDBC</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Servlets</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Reflection</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">RegularExpressions</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Generics</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">JVM</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Serialization</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Java XML</a></li>
    <li><a class = 'nav-link' routerLink = "/angular">Angular</a></li>
    <li><a class = 'nav-link' routerLink = "/html5">HTML5</a></li>
    <li><a class = 'nav-link' routerLink = "/javascript">Javascript</a></li>
    <li><a class = 'nav-link' routerLink = "/css">CSS</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Bootstrap</a></li>
    <li><a class = 'nav-link' routerLink = "/microservices">Microservices</a></li>
    <li><a class = 'nav-link' routerLink = "/javalogging">Java Logging</a></li>
    <li><a class = 'nav-link' routerLink = "/aws">AWS</a></li>
    <li><a class = 'nav-link' routerLink = "/gitlab">GitLab</a></li>
    <li><a class = 'nav-link' routerLink = "/veracode">Veracode</a></li>
    <li><a class = 'nav-link' routerLink = "/sonarqube">sonarqube</a></li>
    <li><a class = 'nav-link' routerLink = "/apitesting">Api Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/solid">SOLID</a></li>
    <li><a class = 'nav-link' routerLink = "/codereview">Code Review</a></li>
    <li><a class = 'nav-link' routerLink = "designpatterns">Design Patterns</a></li>
    <li><a class = 'nav-link' routerLink = "/rest">REST</a></li>
    <li><a class = 'nav-link' routerLink = "/json">JSON</a></li>
    <li><a class = 'nav-link' routerLink = "/testing">Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/springboot">Spring Boot</a></li>
    <li><a class = 'nav-link' routerLink = "/kafka">Kafka</a></li>
    <li><a class = 'nav-link' routerLink = "/security">Security</a></li>   
    
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Core</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Data</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring MVC</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring AOP</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Integration</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring JPA</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Cloud</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Spring Security</a></li>

    <li><a class = 'nav-link' routerLink = "/bootstrap">Hibernate</a></li>
    
    <li><a class = 'nav-link' routerLink = "/bootstrap">SQL</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Unit Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Maven</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Dockers</a></li>
    <li><a class = 'nav-link' routerLink = "/interview">Interview</a></li>
  </ul>
  </nav>
</div>
  <div style="background-color:lightsteelblue">
  <router-outlet></router-outlet>
</div>
</div>