<pre>
    <b>
        Closure
    </b>
    function bound together with its lexical scope forms a closure, access to its par

    function bound together with its surrounding state or scope

    Uses:
    Module Design Pattern
    Currying
    Functions like once
    memoize
    mainatain state in async world
    setTimeouts
    Iterators
    <b>SetTimeout - calls when timer is complete</b>
    <b>let has a clock scope</b>
    <b>Throttling</b>
    Rate limiting a called
    call is passed to the same function only after the set limit is crossed, even when you make the call multiple times within this time
    write a throttle function, which takes limit as parameter
    call the function with a setTimeout


    apply and call are similar functions which setthis (context of a function).
    <b>call</b>method takes the arguments separated by comma
    <b>apply</b>method takes the arguments as array of arguments
    <b>bind</b>

    call(obj), bind(obj), apply(obj)

    <b>Debouncing</b>
    only call method, when the difference between two calls is executed - on an --Event


    difference
    Make a call after certain amunt of time, for Throttling - Throttling tells us the maximum number of times a function can be called over a period of time
    Make a call when there is difference of simetime between two evenets - for example after pause 
    Debouncing means that a function will not be called again until a certain amount of time has passed without it being called
    --make a call when difference is so much

    Throttling -- you decide how many times youshould call within a specified timer
    Debouncing - you decide the minimum gap between two calls
    
    <b>Hoisting</b>


    Use noscript tag if you want to show message to the non javascript supported browsers after script tag

If JS has to run on some event, include in head section
Include in body, if script needs to be run when the page loads, no functions
<!--In an external file <script type = “text/javascript” src = filename< </script>-->
Scope of variables, global scope, local scope



</pre>>
